<div class="container">
    <h2 class="text-center">Добро пожаловать в Cybersmily's Datafort!</h2>
    <div>
      Этот сайт был создан еще в конце 90-х как фан-сайт, посвященный настольной ролевой игре Cyberpunk 2020 Р. Талсориана. Здесь вы найдете статьи, веб-приложения и другие ресурсы по CyberPunk 2020.
    </div>
    <br/>
     <div class="row">
    <div class="col-sm-12 col-md-3 csd-rounded csd-border">
      <h4 class="text-center">Секции</h4>
      <ul class="list-unstyled">
        <li>
          <h5>Данные</h5>
          <p>Данные, которые я собрал. Списки вещей (снаряжение, программы, автомобили, прочее), которые я составил. Большая часть контента - это преобразование других источников в соответствии с набором правил Cyberpunk 2020.</p>
        </li>
        <li>
          <h5>Моды</h5>
          <p>Изменения в правилах. Этот раздел содержит модификации правил, которые я использовал в некоторых своих играх на протяжении многих лет. Некоторые хорошие, некоторые не очень. Но полагаю, я бы поделился, так как некоторые из них могут соответствовать вашему стилю игры.</p>
        </li>
        <li>
          <h5>Магазин</h5>
          <p>Покупайте нестандартное снаряжение, которое я создал или переработал из других источников.</p>
        </li>
        <li>
          <h5>Персонажи</h5>
          <p>Персонажи, которое есть в моей кампании. НИП и ИП из моих игр. Некоторые из них используются в сценариях на этом сайте.</p>
        </li>
        <li>
          <h5>Сценарии</h5>
          <p>Сценарии для новичков. Некоторые сценарии я использовал на съездах и в своей группе. Вы также можете найти здесь выпуск новостей о дополнении Firestorm от Р. Талсориана.</p>
        </li>
        <li>
          <h5>Приложения - 2020/RED</h5>
          <p>Приложения (онлайн-утилиты) для вашей игры. Включает в себя генератор жизненного пути Cyberpunk 2020, калькулятор моды Cyberpunk 2020, калькулятор максимального количества металла Cyberpunk 2020, генератор персонажей Cyberpunk 2020, генератор персонажей Cyberpunk Red, генератор жизненных путей Cyberpunk Red и служебное приложение Cyberpunk 2020 Netrunning для навигации в сети.</p>
        </li>
        <li>
          <h5>DLow</h5>
          <p>Загрузки для использования с вашей игрой. Есть PC Sheet, файлы изображений карт и векторные карты Campaign Cartographer Найт Сити.</p>
        </li>
        <li>
          <h5>LDLs/Видео</h5>
          <p>Ссылки на другие информационные порталы, которые я посещаю, и. некоторые из веб-сайтов, которые, по моему мнению, необходимы для запуска и игры в Cyberpunk 2020 / Cyberpunk Red.</p>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-1"></div>
    <div class="col-sm-12 col-md-7 csd-rounded csd-border">
      <h4 class="text-center">Последние обновления</h4>
      <div *ngFor="let newItem of newItems">
        <h5>{{newItem.date}}</h5>
        <p *ngFor="let entry of newItem.entries" [innerHTML]="entry"></p>
      </div>
    </div>
  </div>
</div>
