<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Генератор жизненного пути</h2>
      Это моя версия еще одного генератора жизненных путей. Перед тем, как начать, выберите источник.
      Большинство справочников, которые содержат какую-то часть жизненного пути
      поколения были включены.
      <br> Для жизненных событий введите количество событий, которые необходимо сгенерировать, в поле, а затем нажмите Сгенерировать.
      Если вы введете число меньше 1 или нечисловое значение, будет сгенерировано значение от 2 до 12.
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4 style="display:inline-block;">Выберите Источник:</h4>
      <span>
        <select [(ngModel)]="selectedSource" style="width:250px;" >
          <option *ngFor="let source of sourceList" [ngValue]="source.value">{{source.title}}</option>
        </select>
      </span>
      <input type="button" title="Save" class="pull-right btn-secondary csd-rounded csd-fash-btn" value="Save"
        (click)="saveFile()"  />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <cs-lifepath-ethnicity
      [lifepathSource]="selectedSource"
      (valueChange)="onEthnicityGeneration($event)"></cs-lifepath-ethnicity>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <cs-lifepath-chart
      [header]="'Внешность'"
      [chartData]="appearanceList"
      [lifepathSource]="selectedSource"
      (valueChange)="onChartChange($event)"
      ></cs-lifepath-chart>
      <br/>
      <cs-lifepath-family
      [lifepathSource]="selectedSource"
      (generateValue)="onFamilyGeneration($event)"
      ></cs-lifepath-family>
    </div>
    <div class="col-12 col-md-6">
        <cs-lifepath-chart
        [header]="'Мотивации'"
        [chartData]="motivationList"
        (valueChange)="onChartChange($event)"
        [lifepathSource]="selectedSource"></cs-lifepath-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <br/>
        <cs-lifepath-events
          (generateEvents)="onLifeEventGeneration($event)"
          [lifepathSource]="selectedSource">
        </cs-lifepath-events>
    </div>
  </div>
</div>
