<div class="container">
  <h2>Спискок ролей</h2>
  <div>Это главный список всех ролей с их источниками.
    Я позволил себе определенную вольность с зарплатой тех, кто не был официально объявлен.
    Источники взяты из журналов R. Talsorian и Interface.
  </div>
  <table class="mstr-role-table csd-rounded">
    <tr class="csd-rounded bg-secondary text-light">
      <th class="text-center">Роль</th>
      <th class="text-center">Базовая Роль</th>
      <th class="text-center">Спец способность</th>
      <th class="text-center">Навыки</th>
      <th class="text-center">Доп навыки</th>
      <th class="text-center">Зарплата</th>
      <th class="text-center">Источник</th>
    </tr>
    <tr class="csd-rounded">
      <td><input [(ngModel)]="filters.role" type="search" placeholder="Поиск по роли" class="mstr-role-search"/></td>
      <td><input [(ngModel)]="filters.base" type="search" placeholder="Поиск по базовой роли" class="mstr-role-search"/></td>
      <td><input [(ngModel)]="filters.sa" type="search" placeholder="Поиск по спец способности" class="mstr-role-search"/></td>
      <td><input [(ngModel)]="filters.skill" type="search" placeholder="Поиск по навыку" class="mstr-role-search"/></td>
      <td></td>
      <td></td>
      <td><input [(ngModel)]="filters.source" type="search" placeholder="Поиск по источнику" class="mstr-role-search"/></td>
    </tr>
    <ng-container *ngFor="let role of roleList|filter:'name':filters.role|filter:'base':filters.base|filter:'specialability.name':filters.sa|sourcebookFilter:filters.source|filter:'skills':filters.skill">
    <tr style="vertical-align: top;">
      <td>{{role.name}}</td>
      <td>{{role.base}}</td>
      <td>{{role.specialability.name}}({{role.specialability.stat}})</td>
      <td class="role-skills">
        <div *ngFor="let sk of role.skills">{{getSkill(sk)}}</div>
      </td>
      <td class="role-skills">
        <div *ngFor="let sk of role.secondary">{{getSkill(sk)}}</div>
      </td>
      <td class="role-salaries">
        <div>1-5: {{role.salary[0]}}eb</div>
        <div>&nbsp;&nbsp;6: {{role.salary[1]}}eb</div>
        <div>&nbsp;&nbsp;7: {{role.salary[2]}}eb</div>
        <div>&nbsp;&nbsp;8: {{role.salary[3]}}eb</div>
        <div>&nbsp;&nbsp;9: {{role.salary[4]}}eb</div>
        <div>&nbsp;10: {{role.salary[5]}}eb</div>
      </td>
      <td title="{{role.source|sourcebook}}">{{role.source|sourcebook}} pg. {{role.page}}</td>
    </tr>
    <tr>

    </tr>
  </ng-container>
  </table>
  </div>
