<div class="chargen-section chargen-border">
  <div class="hidden-print">
    <fa-icon [icon]="faDice" class="chargen-lifepath-dice" (click)="roll()" title="Randomly generate lifepath"></fa-icon>
    <select [(ngModel)]="selectedSource">
        <option value="?" selected="selected"></option>
        <option *ngFor="let opt of sources" value="{{opt.value}}">{{opt.title}}</option>
    </select>
    <input class="chargen-always-event" type="checkbox" title="поставьте, если хотите происхождения мероприятий на каждый год жизни"> Событие происходит каждые
    <input [(ngModel)]="years" class="chargen-years-event text-center" type="number" min="0" max="12"
    title="Введите от 0-12. 0 - случайное значение."
    (change)="changeYear()"> лет
  </div>
  <div>
    <span class="chargen-label">Стиль</span>
    &nbsp;
  </div>
  <div class="chargen-lifepath-attr">Одежда <input [(ngModel)]="lifepath.appearance.clothes" (change)="onChangeLifePath()" type="text" class="pull-right"/></div>
  <div class="chargen-lifepath-attr">Волосы <input [(ngModel)]="lifepath.appearance.hairstyle" (change)="onChangeLifePath()" type="text" class="pull-right"/></div>
  <div class="chargen-lifepath-attr">Аксесуары <input [(ngModel)]="lifepath.appearance.affectations" (change)="onChangeLifePath()" type="text" class="pull-right"/></div>
  <div class="chargen-lifepath-attr">Этническая принадлежность <input [(ngModel)]="lifepath.ethnicity.name" (change)="onChangeLifePath()" type="text" class="pull-right"/></div>
  <div class="chargen-lifepath-attr">Языки <input [(ngModel)]="lifepath.ethnicity.language" (change)="onChangeLifePath()" type="text" class="pull-right"/></div>
  <div><span class="chargen-label">История семьи</span></div>
  <textarea [(ngModel)]="lifepath.family.familyBackground" (change)="onChangeLifePath()" class="chargen-lifepath-family"></textarea>
  <div>
    <span class="chargen-label">#Братья и сестры</span>
    <span class="chargen-sibling"> <fa-icon [icon]="faMars" style="font-size:20px;"></fa-icon>[<input [(ngModel)]="brothers" (change)="onChangeSiblings()" min="0" max="20" type="number"/>]</span>
    <span class="chargen-sibling"> <fa-icon [icon]="faVenus" style="font-size:20px;"></fa-icon>[<input [(ngModel)]="sisters" (change)="onChangeSiblings()" min="0" max="20" type="number" />]</span>
  </div>
  <div><span class="chargen-label">Мотивации</span></div>
  <div class="chargen-lifepath-attr">Traits <input [(ngModel)]="lifepath.motivations.personality" (change)="onChangeLifePath()" type="text" class="pull-right"/></div>
  <div class="chargen-lifepath-attr">Ценный человек <input [(ngModel)]="lifepath.motivations.valuedperson" (change)="onChangeLifePath()" type="text" class="pull-right"/></div>
  <div class="chargen-lifepath-attr">Самое ценное <input [(ngModel)]="lifepath.motivations.valuemost" (change)="onChangeLifePath()" type="text" class="pull-right"/></div>
  <div class="chargen-lifepath-attr">Отношение к людям <input [(ngModel)]="lifepath.motivations.feelaboutpeople" (change)="onChangeLifePath()" type="text" class="pull-right"/></div>
  <div class="chargen-lifepath-attr">Значимая вещь <input [(ngModel)]="lifepath.motivations.valuedpossession" (change)="onChangeLifePath()" type="text" class="pull-right"/></div>
  <div><span class="chargen-label">Жизненные события</span> Одно мероприятие на каждый год после 16 лет</div>
  <table class="chargen-lifepath-events-table">
    <tr class="chargen-lifepath-events-header">
      <td>Год</td>
      <td></td>
    </tr>
    <tr *ngFor="let event of lifepath.events" class="chargen-lifepath-event-row">
      <td><input [(ngModel)]="event.age" type="number" min="0" max="150"/></td>
      <td><textarea [(ngModel)]="event.event" class="chargen-life-event" rows="2" maxlength="140"></textarea></td>
    </tr>
  </table>
</div>
