<div class="container">
  <div>
    <h2>Калькулятор стоимости Одежды</h2>
    <P>
      Калькулятор стоимости Одежды использует систему из Chromebook 3/4
    </P>
    <p>Выберите различные варианты ниже (<span style="color: red">*</span> required). Выбрав все необходимые параметры, нажмите кнопку «Купить», чтобы добавить их в список.</p>
    <p>Нажмите кнопку «Сохранить», чтобы распечатать текстовый файл со списком одежды, который вы создали.</p>
  </div>
  <div id="fcSelectorControls" class="row">
    <div class="col-12 col-md-7">
      <cs-fashion-input [clothes]="clothingData.Clothes" [styleList]="clothingData.Style" [qualityList]="clothingData.Quality"
        [armoringList]="clothingData.Armoring" [optionsList]="clothingData.Options" (purchaseClothing)="addToList($event)">
      </cs-fashion-input>
    </div>
    <div class="col-12 col-md-5">
      <cs-fashion-list [clothingList]="clothingList" [totalCost]="clothingTotal">
      </cs-fashion-list>
      <div>
        <input type="button" title="СОХРАНИТЬ" class="pull-right btn-secondary csd-rounded csd-fash-btn" value="СОХРАНИТЬ"
        (click)="saveList()" [disabled]="isListEmpty()" />
      </div>
    </div>
  </div>
</div>
