<div class="container">
<h2>Список навыков</h2>
<div>Это основной список всех навыков с их источниками.
  Источники взяты из журналов R. Talsorian и Interface.</div>
<table class="mstr-skill-table csd-rounded">
  <tr class="csd-rounded bg-secondary text-light">
    <th class="text-center">Название</th>
    <th class="text-center">Стат</th>
    <th class="text-center">Спец обилка</th>
    <th class="text-center">Источник</th>
  </tr>
  <tr>
    <td><input [(ngModel)]="filters.name" type="search" placeholder="search on name" class="skill-search"/></td>
    <td><input [(ngModel)]="filters.stat" type="search" placeholder="search on stat" class="skill-search"/></td>
    <td><input [(ngModel)]="filters.sa" type="search" placeholder="search on is special ability" class="skill-search"/></td>
    <td><input [(ngModel)]="filters.source" type="search" placeholder="search on source" class="skill-search"/></td>
  </tr>
  <tr *ngFor="let sk of skillList |filter:'name': filters.name|filter:'stat': filters.stat|sourcebookFilter:filters.source|filter:'isspecialability': filters.searchSpclAbility"
      style="vertical-align: top;">
    <td>{{sk.name | parse}}</td>
    <td class="text-center">{{sk.stat}}</td>
    <td class="text-center">{{(sk.isspecialability)?'Yes':'No'}}</td>
    <td class="text-center">{{sk.source|sourcebook}} pg. {{sk.page}}</td>
  </tr>
</table>
</div>
